configparser
customtkinter
datetime
defusedxml
docker
docopt
Lib
lxml<5
matplotlib
numpy
openpyxl
pandas
pdfrw>=0.4
pikepdf
Pillow
pyarrow
pymongo
pypdf
PyPDF4
pystache
python-docx
pytz
qualysapi==5.1.0
requests
seaborn
tqdm
